<!DOCTYPE html>
<html lang="pt-Br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>

</head>

<body>
  <div th:if="${message != null}">
    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}">
      <span th:text="${message}"></span>
    </div>
  </div>

  <div th:if="${messageSuccess != null}">
    <div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(messageSuccess)}">
      <span th:text="${messageSuccess}"></span>
    </div>
  </div>

</body>

</html>